:root{
    --maincolor:#913139;
    --secondarycolor:#0d0d0e;

    --bordercolor:#161914; 

	--mainText:#fff;
	--secondaryText:#eeeeee;
    --themedotborder:#fff; 
    --previewBg:rgb(53, 50, 50); 
    --previewshadow:rgb(53, 50, 50);  

}